.search {
  text-align: center;
  margin-top: 15px;
}
.search__time {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

span {
  font-weight: normal;
}

.search__content-ot {
  display: flex;
  justify-content: space-between;
}
